**

!Dockerfile
!backend/
!backend/**
!front/
!front/index.html
!front/jsconfig.json
!front/package.json
!front/package-lock.json
!front/svelte.config.js
!front/vite.config.js
!front/public/
!front/public/**
!front/src/
!front/src/**

**/.DS_Store
**/node_modules
**/dist
**/*_test.go
